<section class="flex flex-col justify-center items-center py-8 gap-8">
  <h1 class="text-2xl font-bold underline">Carts</h1>
  <div class="border-2 border-gray-700 rounded-xl">
    {{#each carts}}
      <article class="p-2">
          <div class="id">Cart Id: {{this._id}}</div>
        <div class="py-2">
          {{#each products}}
            <div class="price">Product Id: {{this.id._id}}</div>
            <div class="price">Quantity: {{this.quantity}}</div>
          {{/each}}
        </div>
          <a href="http://localhost:8080/carts/{{this._id}}" class="flex justify-center items-center p-4">
            <button class="border-2 border-white rounded-xl py-1 px-2 bg-gray-600">Detalle</button>
          </a>
      </article>
    {{/each}}
  </div>
    <a href="/api/sessions/current">
      <button class="border-2 border-white rounded-xl py-1 px-2 bg-gray-600">Volver</button>
    </a>
</section>