<section class="products__table">
  <h1 class="titulo">Cart Detail</h1>
  <div class="table__categories">
    {{#each cart}}
      {{#if this._id}}
          <div class="item__texto">
            <div class="id">Cart Id: {{this._id}}</div>
            {{#each products}}
              <div class="price">Product Id: {{this.id._id}}</div>
              <div class="price">Quantity: {{this.quantity}}</div>
            {{/each}}
          </div>
            <form action="/carts/{{this._id}}/clear" method="POST">
              <button type="submit">Limpiar</button>
            </form>
      {{/if}}
    {{/each}}
  </div>
</section>